Repository self-denial-cy/react-zhihu-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.cjs": [
    "eslint --fix"
  ],
  "*.mjs": [
    "eslint --fix"
  ],
  "*.ts": [
    "eslint --fix"
  ],
  "*.cts": [
    "eslint --fix"
  ],
  "*.mts": [
    "eslint --fix"
  ],
  "*.jsx": [
    "eslint --fix"
  ],
  "*.tsx": [
    "eslint --fix"
  ],
  "*.less": "stylelint --fix --allow-empty-input",
  "*.scss": "stylelint --fix --allow-empty-input",
  "*.css": "stylelint --fix --allow-empty-input"
}

chore: init commit
  LICENSE
Due: none

chore: init commit
  src/index.jsx
Due: eslint --fix

feat: 路由骨架搭建
  .babelrc
  .vscode/settings.json
  config/webpack.config.js
  package.json
  public/index.html
  src/App.jsx
  src/assets/js/base.js
  src/index.jsx
  src/router/_import_development.js
  src/router/_import_production.js
  src/router/index.js
  src/router/routes.js
  src/styles/base.css
  src/styles/normalize.css
  src/views/404.jsx
  src/views/detail.jsx
  src/views/home.jsx
  src/views/login.jsx
  src/views/personal.jsx
  src/views/store.jsx
  src/views/update.jsx
  yarn.lock
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: redux 骨架搭建
  package.json
  public/api/login.json
  public/index.html
  src/App.jsx
  src/components/business/HomeHeader.jsx
  src/components/business/NavBar.jsx
  src/components/business/NewsItem.jsx
  src/components/business/index.js
  src/components/common/Skeleton.jsx
  src/components/common/index.js
  src/components/index.js
  src/index.jsx
  src/router/index.js
  src/router/routes.js
  src/store/action-types.js
  src/store/action/index.js
  src/store/action/modules/base.js
  src/store/action/modules/index.js
  src/store/action/modules/store.js
  src/store/index.js
  src/store/reducer/index.js
  src/store/reducer/modules/base.js
  src/store/reducer/modules/index.js
  src/store/reducer/modules/store.js
  src/styles/modules/base.module.css
  src/views/Detail.jsx
  src/views/Home.jsx
  src/views/Login.jsx
  src/views/Personal.jsx
  src/views/Store.jsx
  src/views/Update.jsx
  yarn.lock
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 首页头部开发
  package.json
  src/assets/images/avatar.svg
  src/components/business/HomeHeader.jsx
  src/components/business/scss/HomeHeader.scss
  src/index.jsx
  src/styles/scss/Home.scss
  src/utils/index.js
  src/views/Home.jsx
  yarn.lock
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 首页轮播图开发 over
  .eslintrc.js
  .vscode/settings.json
  public/api/home.json
  src/assets/images/avatar.svg
  src/components/business/HomeHeader.jsx
  src/components/business/scss/home_header.scss
  src/index.jsx
  src/styles/scss/Home.scss
  src/styles/scss/home.scss
  src/views/Home.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 首页新闻列表样式开发
  .vscode/settings.json
  src/components/business/NewsItem.jsx
  src/components/business/scss/news_item.scss
  src/components/common/Skeleton.jsx
  src/components/common/scss/skeleton.scss
  src/index.jsx
  src/styles/base.css
  src/styles/scss/home.scss
  src/views/Home.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 首页新闻列表数据绑定
  .eslintrc.js
  public/api/home.json
  src/components/business/NewsItem.jsx
  src/components/business/scss/news_item.scss
  src/components/common/Skeleton.jsx
  src/components/common/scss/skeleton.scss
  src/index.jsx
  src/styles/normalize.css
  src/styles/scss/home.scss
  src/views/Home.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 详情页面布局开发
  package.json
  src/index.jsx
  src/styles/base.css
  src/styles/scss/detail.scss
  src/views/Detail.jsx
  src/views/Home.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 适配 iPhone 刘海屏小黑条 over?
  .stylelintrc.json
  public/index.html
  src/index.jsx
  src/styles/base.css
  src/styles/scss/detail.scss
  src/views/Detail.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 详情页面数据绑定 part1
  .vscode/settings.json
  public/api/detail.json
  src/index.jsx
  src/styles/scss/detail.scss
  src/views/Detail.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 登录页布局开发
  .eslintrc.js
  .vscode/settings.json
  public/api/detail.json
  src/components/business/NavBar.jsx
  src/components/business/scss/nav_bar.scss
  src/index.jsx
  src/styles/base.css
  src/styles/scss/detail.scss
  src/styles/scss/login.scss
  src/views/Detail.jsx
  src/views/Login.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 登录页功能开发
  .vscode/settings.json
  package.json
  public/api/login.json
  src/hooks/countdown.js
  src/hooks/index.js
  src/index.jsx
  src/styles/base.css
  src/utils/index.js
  src/views/Login.jsx
  yarn.lock
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: redux 存储登录信息、跳转细节处理
  src/assets/js/base.js
  src/components/business/NavBar.jsx
  src/components/common/Skeleton.jsx
  src/index.jsx
  src/router/index.js
  src/store/action-types.js
  src/store/action/modules/base.js
  src/store/reducer/modules/base.js
  src/styles/base.css
  src/styles/scss/detail.scss
  src/styles/scss/home.scss
  src/styles/scss/login.scss
  src/views/Login.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 登录态校验处理
  src/components/business/HomeHeader.jsx
  src/index.jsx
  src/router/index.js
  src/router/utils.js
  src/views/Detail.jsx
  src/views/Login.jsx
Due: eslint --fix

feat: 首页和详情页的登录及收藏功能开发
  public/api/home.json
  public/api/store.json
  src/components/business/NewsItem.jsx
  src/index.jsx
  src/store/action-types.js
  src/store/action/modules/store.js
  src/store/reducer/modules/store.js
  src/views/Detail.jsx
  src/views/Home.jsx
Due: eslint --fix

feat: 404 页面和个人中心页面开发 part1
  public/api/login.json
  src/components/business/NavBar.jsx
  src/index.jsx
  src/store/action/modules/store.js
  src/styles/base.css
  src/styles/scss/404.scss
  src/styles/scss/personal.scss
  src/views/404.jsx
  src/views/Detail.jsx
  src/views/Personal.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 收藏页面开发 over
  src/index.jsx
  src/styles/scss/personal.scss
  src/styles/scss/store.scss
  src/views/Personal.jsx
  src/views/Store.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 首页实现 keep alive
  .babelrc
  .vscode/settings.json
  README.md
  package.json
  src/App.jsx
  src/components/common/OffScreen.jsx
  src/components/common/index.js
  src/index.jsx
  src/router/index.js
  src/router/routes.js
  yarn.lock
Due: eslint --fix

feat: 106 over
  src/index.jsx
Due: eslint --fix

feat: 修改个人信息页面开发 over
  .env
  src/router/routes.js
  src/styles/scss/update.scss
  src/views/Personal.jsx
  src/views/Update.jsx
Due: eslint --fix, stylelint --fix --allow-empty-input

chore: commit
  src/index.jsx
Due: eslint --fix

chore: commit
  .github/workflows/deploy_to_github.yml
Due: none

chore: commit
  .env.production
Due: none

chore: commit
  src/components/business/HomeHeader.jsx
  src/router/index.js
  src/store/action/modules/store.js
  src/views/Detail.jsx
  src/views/Home.jsx
  src/views/Login.jsx
Due: eslint --fix

chore: commit
  README.md
  src/store/reducer/modules/base.js
  src/store/reducer/modules/store.js
Due: eslint --fix
